@media screen and (min-width: 50em) {
  .explorer {
    margin-top: 214px;
  }
}

/* Form footer */

#page-edit-form footer {
  position: static;
  width: auto;
  margin: 0;
  padding: 0 50px;
  background: none;
  color: #777;
  font-size: 1.2em;
}

#page-edit-form footer .meta {
  text-align: left;
  float: none;
  clear: left;
  padding: 20px 0 0;
}

#page-edit-form footer .meta p {
  white-space: normal;
}

#page-edit-form footer .actions {
  margin-bottom: 5px;
}

#page-edit-form .dropdown-toggle {
  line-height: 2.5em;
}

#page-edit-form footer .actions.preview {
  width: auto;
}

/* Section heading arrow icons */

#page-edit-form .object h2:before,
#page-edit-form .object h2 label:before {
  content: '';
  height: 100%;
}

/* Page listings */

.listing tbody .title h2 {
  font-size: 1.5em;
}

.listing tbody .title h2 a {
  text-decoration: underline;
  color: #43b1b0;
}

.listing tbody .title h2 a:hover {
  text-decoration: none;
}

.listing .actions {
  visibility: visible;
}

.listing .status-tag {
  margin: 0;
}
